.portfolio-heading {
  font-family: var(--font-family-headings);
  text-transform: uppercase;
  font-size: 4.5em;
  color: var(--color-dark-grey);
  margin-bottom: 3rem;
}

@media (min-width: 600px) {
  .portfolio-heading {
    font-size: 7.5em;
    margin-bottom: 6rem;
  }
}

.portfolio-item {
  --transition-speed-title: var(--transition-speed-moderate);
  --transition-speed-description: var(--transition-speed-moderate);
  --transition-speed-read-more: var(--transition-speed-moderate);
  --transition-speed-read-more-arrows: var(--transition-speed-fast);

  display: grid;
  grid-template:
    "client" min-content
    "title" min-content
    "tags" min-content
    "image" min-content
    "description" min-content
    "read-more" min-content
    / 1fr;
  gap: 0 2rem;
}

.portfolio-item[opened] {
  --description-height: 1fr;
}

.portfolio-item.portfolio-item--flipped .portfolio-item__content {
  order: -1;
}

.portfolio-item__image {
  grid-area: image;
  justify-self: center;
  align-self: center;
  padding-block: 1rem;
}

.portfolio-item__title {
  grid-area: title;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.1;
  transition: font-size var(--transition-speed-title) ease-in;
  margin-bottom: 1rem;
}

.portfolio-item__client {
  grid-area: client;
  color: var(--color-grey);
}

.portfolio-item__description {
  grid-area: description;
  margin-top: 1rem;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--transition-speed-description) ease-out;
}

.portfolio-item__description > * {
  overflow: hidden;
}

.portfolio-item[opened] .portfolio-item__description {
  grid-template-rows: 1fr;
}

.portfolio-item__read-more-toggle {
  --label-arrow-width: 30px;
  --label-arrow-spacing: 0;

  grid-area: read-more;

  display: grid;
  transition: grid-template-columns ease-out var(--transition-speed-read-more);
  margin-top: 1rem;
}

.portfolio-item__read-more-toggle[toggled-on] {
  grid-template-columns: 1fr auto auto 0fr;
}

.portfolio-item__read-more-toggle[toggled-off] {
  grid-template-columns: 0fr auto auto 1fr;
}

.portfolio-item__read-more-toggle-on-label {
  grid-area: 1 / 2;
}

.portfolio-item__read-more-toggle-off-label {
  grid-area: 1 / 3;
}

.portfolio-item__read-more-toggle-on-label,
.portfolio-item__read-more-toggle-off-label {
  position: relative;
}

.portfolio-item__read-more-toggle-on-label::after,
.portfolio-item__read-more-toggle-off-label::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: var(--label-arrow-width);
  position: absolute;
  background: url("arrow.svg") no-repeat;
  background-position: 0 75%;
  transition: margin-left var(--transition-speed-read-more-arrows);
}

.portfolio-item__read-more-toggle-off-label::after {
  transform: scaleX(-1);
  left: calc(-1 * var(--label-arrow-width));
  margin-left: calc(-1 * var(--label-arrow-spacing));
}

.portfolio-item__read-more-toggle-on-label::after {
  margin-left: var(--label-arrow-spacing);
}

.portfolio-item__read-more-toggle:hover {
  --label-arrow-spacing: 1rem;
}

.portfolio-item__read-more-toggle[toggled-on] .portfolio-item__read-more-toggle-on-label,
.portfolio-item__read-more-toggle[toggled-off] .portfolio-item__read-more-toggle-off-label {
  visibility: hidden;
}

.portfolio-item__read-more-toggle[toggled-off] .portfolio-item__read-more-toggle-on-label,
.portfolio-item__read-more-toggle[toggled-on] .portfolio-item__read-more-toggle-off-label {
  visibility: visible;
}

.portfolio-item__tags {
  grid-area: tags;
  display: flex;
  padding: 0;
  gap: 0.5rem;
}

.portfolio-item__tag {
  box-sizing: border-box;
  display: inline;
  font-size: 0.65em;
  font-weight: bold;
  padding: 0.375rem;
  background-color: var(--color-dark-grey);
  color: var(--color-light-grey);
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .portfolio-item__image {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .portfolio-item {
    gap: 0.5rem 2rem;
    grid-template:
      "image .          " auto
      "image client     " minmax(0, auto)
      "image title      " auto
      "image tags       " auto
      "image description" auto
      "image read-more  " auto
      "image .          " auto
      / 1fr 1fr;
  }

  .portfolio-item--flipped {
    grid-template:
      ".            image" auto
      "client       image" minmax(0, auto)
      "title        image" auto
      "tags         image" auto
      "description  image" auto
      "read-more    image" auto
      ".            image" auto
      / 1fr 1fr;
  }

  .portfolio-item__client {
    font-size: 1.5em;
  }

  .portfolio-item__title {
    font-size: 2.5em;
  }

  .portfolio-item[opened] .portfolio-item__title {
    font-size: 1.5em;
  }

  .portfolio-item__image {
    padding-block: 6rem;
    padding-inline: 2rem;
  }
}
